body {
  background-color: #311e3e;
}
.logo{
  padding-top: 180px;
}

.search {
  margin-top: 120px;
}

.search-input {
  background-color: #87314e;
}

.search-glyph {
  color: #df405a;
}

.search-icon {
  border-radius: 0;
  background-color: transparent;
  border: 0;
}

.search-icon:hover {
  border-radius: 0;
  background-color: transparent;
  border: 0
}

.search-icon:active {
  border-radius: 0;
  background-color: transparent;
  border: 0
}

.results-title {
  color: white;
}

.flex-cont {
  padding-top: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.results-column {
  width: 30%;
}
