<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>App!</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-88w0u/oucDSTE30ETLLIobzhT+bQ6CSsiqQyLZpwHvve89eqUA9F2Db6ST6jGRLx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container-fluid">
      <img src="{{ url_for('static', filename='CarML_logo_normal.png') }}" alt="Logo" class="logo col-lg-4 col-lg-offset-4"/>
      <div class="row search">
        <div class="col-lg-6 col-lg-offset-3">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="form-control input-lg" id="input-box" placeholder="Movie Name"/>
              <span class="input-group-btn">
                <button class="btn btn-primary btn-lg search-icon" type="button">
                    <span class="glyphicon glyphicon-search search-glyph"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="line"/>
        </div>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="results-title text-center col-lg-offset-2 col-lg-8">
        <h1>Results</h1>
      </div>
    </div>
    -->
    <div class="row">
      <div class="loader hidden"></div>
      <div class="flex-cont col-lg-10 col-lg-offset-1">
        <div class="results-column">
          <ul class="list-group lg-0">
          </ul>
        </div>
        <div class="results-column">
          <ul class="list-group lg-1">
          </ul>
        </div>
        <div class="results-column">
          <ul class="list-group lg-2">
          </ul>
        </div>
      </div>
    </div>

    <!-- Twitter Bootstrap -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
